html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $medium-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

// active className for NavLink is active by default
.active {
  font-weight: bold;
}
